aws_region          = "us-gov-west-1"
project             = "agentic"
env                 = "dev"
bedrock_model_id    = "openai.gpt-oss-120b-1:0"
lambda_rest_timeout = 29
lambda_ws_timeout   = 60

# Uncomment and set if you use a named GovCloud profile in ~/.aws/credentials
# aws_profile = "govcloud"
